
@font-face {
  font-family: Noto_Sans_Georgian;
  src: url(./fonts/Noto_Sans_Georgian/NotoSansGeorgian-VariableFont_wdth\,wght.ttf);
}

*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  font: 16px Noto_Sans_Georgian, sans-serif;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}



.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 30, 31);
    height: 69px;
    padding-left: 20px;
    padding-right: 20px;

}

.nav-button{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 48px;
    cursor: pointer;
}

.lines-parent {
  display: grid;
  grid-template-rows: 10px 10px 10px;
  z-index: 999;

}
.first-line{
    background-color: rgba(219,219,219);
    border-radius: 1.5px;
    height: 3px;
    width: 13px;
    transition:.3s ease-in-out;
    rotate: 0grad;
}
.first-line-clicked{
    background-color: rgb(118, 118, 118);
    border-radius: 1.5px;
    height: 3px;
    width: 13px;
    transition:.3s ease-in-out;
    rotate: -145grad;
    margin-left: 3.5px;
    margin-top: 4px;
}

.middle-line{
  background-color: rgba(219,219,219);
  border-radius: 1.5px;
  height: 3px;
  width: 26px;
  transition:.3s ease-in-out;
  rotate: 0grad;

}
.middle-line-clicked{
  background-color: rgb(118, 118, 118);
  border-radius: 1.5px;
  height: 3px;
  width: 26px;
  transition:.3s ease-in-out;
  rotate: -55grad;
  margin-left: 2px;
  margin-bottom: 3px;
}
.second-line{
  background-color: rgba(219,219,219);
  border-radius: 1.5px;
  height: 3px;
  width: 13px;
  transition:.3s ease-in-out;
  rotate: 0grad;
  margin-left: 13px;
}
.second-line-clicked{
  background-color:  rgb(118, 118, 118);
  border-radius: 1.5px;
  height: 3px;
  width: 13px;
  transition:.3s ease-in-out;
  rotate: -145grad;
  margin-left: 13px;
  margin-top: -4.5px;
  margin-left: 1.5;
}
.nav-panel{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.62);
  padding: 10px;

}
.nav-panel-toggle{
  display: flex;
  right: 0;
  animation-name: fade;
  animation-duration: 0.15s;
}

@keyframes fade {
  from {right:-100% ;
    background-color: rgba(22, 22, 22, 0);

  }
  to {right: 0;
    background-color: rgba(22, 22, 22, 0.62);}
}


.nav-conteiner{
  top: 0;
  right: 0;
  background-color: rgb(34, 34, 34);
  position: absolute;
  height: 100%;
  width: 60%;
  margin: 0;
  padding: 0;
  border: rgb(0, 0, 0);
  z-index: 2;
}
.nav-conteiner ul{

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 80px;
}

.nav-conteiner ul li{
    height: 52px;
    padding-right: 10px;
   
}
.nav-conteiner ul li a{

  color: #f4f4f4;
}
.banner{
  display: inline-block;
  width: 100%;
}
.banner img{
  height: 217px;
  object-fit: cover;
  object-position: 50% 50%;
  float: right;
  width: 100%;

}
.banner h3{
position: absolute;
color: rgb(244, 244, 244);
letter-spacing: 0em;
font-size: 24px;
line-height: 1.6em;
margin-top: 44px;
margin-left: 22px;
font-weight: bolder;
}
.article {
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  padding: 25px;
  margin-top: -5px;
}
.article h1{
  color: #F4F4F4;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.6em;
  padding-bottom: 30px;
}
.article-link{
  font-size: 16px;
  color: #00AEF3;
  cursor: pointer;
}
.courses{
  height: 100%;
  width: 100%;
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.courses-grid{
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.courses h6{
  font-size: 24px;
  line-height: normal;
  color: #F4F4F4;
  padding-bottom: 25px;
}
.course-container{
  margin: 12.5px 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: rgba(85, 85, 85, 1) rgba(85, 85, 85, 1) rgba(85, 85, 85, 1) rgba(85, 85, 85, 1);
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  transform: translateZ(0);
  margin: -1px;
}
.course-container svg{

  fill: #00AEEF
  
}
.details-container{
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: row;
padding: 24px;
padding-left :18px;
}
.course-container h5{
  font-size: 15px;
  color: #F4F4F4;
  letter-spacing: 0em;
  padding: 15px;
}

.course-details{
  color: #00AEEF!important;

}
.course-container p{
  font-size: 14px;
  color: #F4F4F4;
letter-spacing: 0em;
padding-left: 15px;
}

footer{
  background-color: #1A1E1F;
  padding-top: 36px;
  padding-bottom: 36px;

}
.footer-logo{
  width: 104px;
  height: 30px;
  object-fit: cover;
margin-left: 36px;
margin-bottom: 36px;
}
.btn-social-parent{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.social-logos{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 15px;
}
.social-logos img{
  width: 35px;
  height: 35px;
}
.btn{
  width: 109px;
  height: 35px;
  background-color: #00AEF3;
  color: #ffff;
  border-radius: 6px;
  font-size: 14px;
  padding: 6px;

}
.rights{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 14px;
  margin-left: 36px;
  margin-top: 36px;
}
.rights p{
  color: #F4F4F4;
}

.question-container{
  display: flex;
  flex-direction: column;
  background-color: #161616;
}
.question-container h2{
  font-size: 20px;
  color: #F4F4F4;
  margin-left: 24px;
  margin-top: 34px;
  width: 80%;
}
.question-container h3{
  font-size: 16px;
  color: #F4F4F4;
  margin-left: 24px;
  margin-top: 34px;
  width: 80%;
}
.question-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.svg-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.arrowDown{
  fill: rgb(244, 244, 244) !important;
  
}
.arrowUp{
  fill: rgb(244, 244, 244) !important;
}


.item .body {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease max-height;

}

.item.current-item .body {
  max-height: 699px;
}
.headers{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-bottom: 18px;
  
}

.body{
  border-bottom: 1px solid rgb(53, 49, 49);
  justify-self: center;
}
.body-text{
  font-size: 14px;
  margin-left: 24px;
  color: #F4F4F4;
  width: 80%;
  line-height: 2;
  padding-bottom: 24px;
}